.contacto-contenedor {
  font-size: x-large;
}

.contacto-carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contacto-carta img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.contacto-texto {
  margin-top: 10px;
  border: 2px solid rgb(12, 3, 95);
  width: 100%;
  box-sizing: border-box;
  line-height: 1.2lh;
}


.regresar-buscaminas{
  margin-top: 40px;
  justify-items: center;
  justify-content: center;
  font-size: x-large;
  text-align: center;
}

.dialogo {
    padding: 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-top: 6rem;
    margin-bottom: 6rem;
    z-index: 99;

    background-color: var(--bg-dialog);
    color: var(--text-color);

    display: none;
}

#formContenedor {
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #0c035f;
  background-color: #f8f8f8;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
}

#formContenedor label,
#formContenedor input,
#formContenedor textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: large;
  box-sizing: border-box;
}

#toggleFormBtn {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  font-size: large;
  background-color: #0c035f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-mensaje {
  display: none;
  background-color: #f44336;
  color: white;
  padding: 12px;
  margin: 10px auto;
  width: fit-content;
  border-radius: 5px;
  font-size: large;
  text-align: center;
}